/* Note: Keep global variables organized

Rob TODO:  Apply Theme to styling sheet

Rob TODO:  Create 3 specific text styles for: Highlights, Paragraphs, & Sections

Reminder: Notate new styles when pushing your branch

*/

@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
  margin: 0;
  padding: 0;
}

/* Global CSS Variables */

html{
  font-family: 'Notable', sans-serif;
  background-color: #cbf2c1;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M54.627 0l.83.828-1.415 1.415L51.8 0h2.827zM5.373 0l-.83.828L5.96 2.243 8.2 0H5.374zM48.97 0l3.657 3.657-1.414 1.414L46.143 0h2.828zM11.03 0L7.372 3.657 8.787 5.07 13.857 0H11.03zm32.284 0L49.8 6.485 48.384 7.9l-7.9-7.9h2.83zM16.686 0L10.2 6.485 11.616 7.9l7.9-7.9h-2.83zm20.97 0l9.315 9.314-1.414 1.414L34.828 0h2.83zM22.344 0L13.03 9.314l1.414 1.414L25.172 0h-2.83zM32 0l12.142 12.142-1.414 1.414L30 .828 17.272 13.556l-1.414-1.414L28 0h4zM.284 0l28 28-1.414 1.414L0 2.544V0h.284zM0 5.373l25.456 25.455-1.414 1.415L0 8.2V5.374zm0 5.656l22.627 22.627-1.414 1.414L0 13.86v-2.83zm0 5.656l19.8 19.8-1.415 1.413L0 19.514v-2.83zm0 5.657l16.97 16.97-1.414 1.415L0 25.172v-2.83zM0 28l14.142 14.142-1.414 1.414L0 30.828V28zm0 5.657L11.314 44.97 9.9 46.386l-9.9-9.9v-2.828zm0 5.657L8.485 47.8 7.07 49.212 0 42.143v-2.83zm0 5.657l5.657 5.657-1.414 1.415L0 47.8v-2.83zm0 5.657l2.828 2.83-1.414 1.413L0 53.456v-2.83zM54.627 60L30 35.373 5.373 60H8.2L30 38.2 51.8 60h2.827zm-5.656 0L30 41.03 11.03 60h2.828L30 43.858 46.142 60h2.83zm-5.656 0L30 46.686 16.686 60h2.83L30 49.515 40.485 60h2.83zm-5.657 0L30 52.343 22.343 60h2.83L30 55.172 34.828 60h2.83zM32 60l-2-2-2 2h4zM59.716 0l-28 28 1.414 1.414L60 2.544V0h-.284zM60 5.373L34.544 30.828l1.414 1.415L60 8.2V5.374zm0 5.656L37.373 33.656l1.414 1.414L60 13.86v-2.83zm0 5.656l-19.8 19.8 1.415 1.413L60 19.514v-2.83zm0 5.657l-16.97 16.97 1.414 1.415L60 25.172v-2.83zM60 28L45.858 42.142l1.414 1.414L60 30.828V28zm0 5.657L48.686 44.97l1.415 1.415 9.9-9.9v-2.828zm0 5.657L51.515 47.8l1.414 1.413 7.07-7.07v-2.83zm0 5.657l-5.657 5.657 1.414 1.415L60 47.8v-2.83zm0 5.657l-2.828 2.83 1.414 1.413L60 53.456v-2.83zM39.9 16.385l1.414-1.414L30 3.658 18.686 14.97l1.415 1.415 9.9-9.9 9.9 9.9zm-2.83 2.828l1.415-1.414L30 9.313 21.515 17.8l1.414 1.413 7.07-7.07 7.07 7.07zm-2.827 2.83l1.414-1.416L30 14.97l-5.657 5.657 1.414 1.415L30 17.8l4.243 4.242zm-2.83 2.827l1.415-1.414L30 20.626l-2.828 2.83 1.414 1.414L30 23.456l1.414 1.414zM56.87 59.414L58.284 58 30 29.716 1.716 58l1.414 1.414L30 32.544l26.87 26.87z' fill='%231e572e' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

#modeSpan {
  position: absolute;
  margin-top: 30px;
  margin-left: 48px;
}

p {
  font-family: 'Lato', sans-serif;}

input{
  font-family: 'Lobster Two', cursive;
}

h1{
  background-color: rgb(61, 199, 142, 0.6);
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  border: double 3px white;
}

#wrapperDiv{

text-align: center;

margin: 1%;

height: 93vh;

width: 96%;

border: solid white 8px;

border-radius: 5%;

background-color: transparent;

}

#wrapperDiv2{

margin: 1%;

height: 87vh;

width: 96%;

background: transparent;

border: solid white 8px;

border-radius: 5%;

}

#wrapperDiv3{

  margin: 1%;
  
  height: 87vh;
  
  width: 96%;
  
  background: transparent;
  
  border: solid white 8px;
  
  border-radius: 5%;
  
border-bottom: none;

border-top: none;

  }

#picLeft {
    background-color: #d3efdf;
background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23eb9589' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M8 0v20L0 10M16 0v10L8 0M16 10v10H8'/%3E%3C/g%3E%3C/svg%3E");
  }

.button {
  background-color: rgb(61, 199, 142, 0.6);
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 5px;
  border: double white 5px;
  border-radius: 10%;
}

#playAgain:hover{
color: red;
}

a {
  text-decoration: none;
  color: white;
  padding: 3px;
  border-radius: 4px;
}

.forms {
  font-family: 'Pacifico', cursive;
}

h4 {
  letter-spacing: 2px;
  margin-top: 3px;
}

#nameForm {
  text-align: left;

}

.spaceholder {
  float: right;
}

.spaceholder2 {
  float: left;
}

#subButton {
  position: absolute;
  left: -270px;
  right: 0;
  bottom: 0;
  top: 3;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 55px;
  margin-top: 55px;
}

/* Page 1 variables */

#homeHolder{
  position: relative;
  background-color: #d3efdf;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23d83720' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M8 0v20L0 10M16 0v10L8 0M16 10v10H8'/%3E%3C/g%3E%3C/svg%3E");
  height: 300px;
  margin-top: 210px;
  width: 100%;
}

#instructions{
  background-color: honeydew;

  margin: auto;

  position: absolute;

  top: 0; left: 0%; bottom: 0; right: 0;

  width: 600px; /* Need a specific value to work */

  height: 350px;

  width: 40%;

  text-align: center;

  padding: 40px;

  border-radius: 10%;
}

#instructionline {
  margin-bottom: 10px;
}
/* Page 2 variables */
 
#gameBoard{
  position: absolute;
  border: white 2px solid;
  height: 90vh;
  width: 96vw;
  margin: 1vh;
  padding: 2vh;
  min-width: 96wv;
  min-height: 90vh;
}

/* .cards{ */
  /* height: 275px;
  width: 200px;
  background-color: #e61c1c;
  background-image: radial-gradient(circle, #f5f5f5 20%, transparent 10%), radial-gradient(circle, #f5f5f5 20%, transparent 10%);
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px;
  border-radius: 20px;
  border: solid white 9px;
  float: left;
  margin: 30px;
}  */

/* .cards2{
  height: 275px;
  width: 200px;
  background: url(../img/jessica-weiller-kZ8dyUT0h30-unsplash.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 20px;
  border: solid white 9px;
  float: left;
  margin: 30px;
} */



#toHome{
  position: absolute;
  font-size: smaller;
  margin-top: 100px;
margin-left: -21px;
border-radius: 9%;
}
 

#infoDiv{
  padding-top: 10px;
  border-radius: 9% 0 0 0;
  text-align: center;
  width: 100px;
  position: fixed;
  background-color: honeydew;
  height: 180px;
  bottom: 0;
  right: 0;
  color: black;
  font-weight: bolder;
  font-size: large;
  background-color: #d3efdf;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23d83720' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M8 0v20L0 10M16 0v10L8 0M16 10v10H8'/%3E%3C/g%3E%3C/svg%3E");
  border: white solid 3px;
} 


/* This is to flip cards on flip click */
/* Still working on it, please dont mess w it as im still making images fit*/
.memory-game {

  width: 82%;
  height: 669px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
  border: none;
  margin-left: 103px;
  margin-top: 35px;
}

.memory-card {
  border: none;
  width: calc(20% - 10px);
  height: calc(25.333% - 10px);
  margin: 15px;
  margin-left: 30px;
  margin-right: 30px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}


.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
  border: none;
}

.memory-card.flip {
  border: none;
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 10px;
  position: absolute;
  border-radius: 5px;
  background: transparent;
  border: none;
  background-color: white;
  backface-visibility: hidden;
  border-radius: 10%;
  border: solid 1px white;
}

.front-face {
  transform: rotateY(180deg);
  border: none;
}

.never-show{
  display: none;
}

.hide-it{

 animation: hide 5s 1 forwards;

}

@keyframes hide {
  from {opacity: 1;}
  to{opacity: 0.0;}
}

.bouncy{
  background-color: teal;
  animation: bouncy 5s infinite linear;
  position:relative;
  border-radius: 4px;
  color: white;
  border-style: none;
  font-family: 'Pacifico', cursive;
  padding: 3px;
  font-size: larger;
}

@keyframes bouncy {
  0%{top:0em;}
  40%{top:0em}
  43%{top:-0.9em}
  46%{top:0em}
  48%{top:-0.4em}
  50%{top:0em}
  100%{top:0em;}
} 

/* Page 3 styles */

.aboutMeDiv{
  right: 8px;
position: absolute;
  width: 100px;
  height: 100px;
  background-color: indigo;
  border-radius: 50%;
  border: solid black 3px;
}

#profiles{
  top: -518px;
  background-color: transparent;
  position: relative;
  width: 600px;
  height: 527px;
  right: 0;
  left: 748px;
  z-index: -1;
}

.aboutText {
  background-color: transparent;
  width: 100%;
  height: 45%;

  font-size: x-large;
  margin-left: -139px;
  margin-top: -45px;
  margin-bottom: 10px;
  letter-spacing: 2px;
  padding: 7px;
}

#aboutMe1Text {

}

#aboutMe2Text {

}

#aboutMe3Text {

}

#aboutMe1{
  top: 100px;
  position: absolute;
  background-color: rgb(255, 255, 255);
  background: url(../img/paulheadshot.jpeg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#aboutMe2{
  top: 220px;
  position: absolute;
  background-color: rgb(103, 245, 60);
  background: url(../img/jcheadshot.jpeg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#aboutMe3{
  top: 340px;
  position: absolute;
  background-color: rgb(83, 95, 204);
  background: url(../img/rizoheadshot.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#obrien-blurb {
  opacity: 0%;
}

#obrien-blurb:hover {
  /* animation-duration: 3s; */
  /* animation-name: bioslideout; */
  animation: bioslideout 1.5s forwards ease-in;
}

@keyframes bioslideout {
  0% {
    opacity: 0%;
    transform: translateX(150%);
  }
  /* 50%{
    transform: translateX(-8%);
  }
  65%{
    transform: translateX(-20%);
  }
  80%{
    transform: translateX(-60%);
  } */
  95%{
    transform: translateX(-160%);
  }
	100% {
    opacity: 100%;
		transform: translateX(-150%);
	}
}

#scoreBackground {
  border-radius: 10px;
  background-color: #DFDBE5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23aca8b2' fill-opacity='0.4'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  display: inline-block;
  width: 150px;
  padding: 35px;
  border: 3px white solid;
  animation: scoreboardSlide 10s 4s 1 forwards;
  margin-top: 76px;
  font-size: large;
  font-weight: bold;
  z-index: 34;
}

@keyframes scoreboardSlide {
  from {margin-left: 0px;}
  to{margin-left: -800px;}

}